# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Data
data/

# Assets models
backend/app/assets/*.pt
backend/app/assets/*.json

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db